version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-FE
    ports:
      - "8081:80"
    depends_on:
      - db
    env_file: .env
    volumes:
      - ./code:/var/www/html

  db:
    image: mysql:9.5.0
    container_name: db
    restart: always
    env_file: .env
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - db_data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d

volumes:
  db_data:
