body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f9f6f2;
}

h1 {
    color: #f90404;
}

form {
    margin: 20px;
}

select, input[type="submit"] {
    padding: 8px;
    margin: 10px;
}